[submodule "External/CLI11"]
	path = External/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "External/cpp-httplib"]
	path = External/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "External/pugixml"]
	path = External/pugixml
	url = https://github.com/zeux/pugixml
[submodule "External/magic_enum"]
	path = External/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "External/simdutf"]
	path = External/simdutf
	url = https://github.com/simdutf/simdutf
[submodule "External/FTXUI"]
	path = External/FTXUI
	url = https://github.com/SideShowBoBGOT/FTXUI
[submodule "External/json"]
	path = External/json
	url = https://github.com/nlohmann/json
[submodule "External/spdlog"]
	path = External/spdlog
	url = https://github.com/gabime/spdlog
